@import "tailwindcss";

@theme {
  --color-brand-200: #bfdbfe;
  --color-brand-400: #60a5fa;
  --color-brand-500: #1E3A8A;
  --color-brand-600: #172554;
  --color-brand-700: #1e3a8a;
  --font-sans: 'Poppins', sans-serif;
}